/* ---------------------CSS RESET--------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---------------------ROOT--------------------- */

:root {
  --white: #ffffff;
  --black: #000000;
  --light-blue: #8fcfd6;
  --light-grey: #e8e8e8;
  --dark-grey: #999999;
  --green: #A2CB94;
  --red: #FF6060;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --small-font: 1.1rem;
}

/* ---------------------HEADER--------------------- */

header {
  background-color: var(--white);
  padding: 20px 30px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: var(--large-font);
}

.title {
    display: flex;
    align-items: center;
    gap: 5%;
}

.icon, .message {
    font-size: var(--medium-font);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ---------------------MAIN CONTENT--------------------- */

.main-content {
    height: 100%;
    background-color: var(--light-grey);
    padding: 30px 5%;
}

.add-book {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--small-font);
    margin-bottom: 20px;
  }

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--black);
  }

.grid-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ---------------------GRID--------------------- */


.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    border: 1px solid red;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    font-size: var(--small-font);
    background-color: var(--white);
    box-shadow: 0 3px 10px var(--dark-grey);
}

.book-title {
    font-size: var(--medium-font);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 60px;
}

.btn-container button {
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.read-btn.read {
    background-color: var(--green);
}

.remove-btn {
    background-color: var(--red);
}



