/* ---------------------CSS RESET--------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---------------------ROOT--------------------- */

:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey: #e8e8e8;
  --dark-grey: #999999;
  --green: #8BF384;
  --red: #FF6060;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --small-font: 1.1rem;
  --shadow: 0 3px 10px var(--dark-grey);
}

/* ---------------------HEADER--------------------- */

header {
  background-color: var(--white);
  padding: 20px 30px;
  position: sticky;
  top: 0;
  box-shadow: var(--shadow);
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: var(--large-font);
}

.title {
    display: flex;
    align-items: center;
    gap: 5%;
}

.icon, .message {
    font-size: var(--medium-font);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ---------------------MAIN CONTENT--------------------- */

.main-content {
    min-height: 100%;
    max-height: min-content;
    background-color: var(--light-grey);
    padding: 50px 5%;
}

.overlay {
     display: none;
     background-color: var(--dark-grey);
}

.grid-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-book {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--small-font);
    margin-bottom: 30px;
  }

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--black);
  }

  .overlay.active {
    display: block;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }  


/* ---------------------GRID--------------------- */


.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    font-size: var(--small-font);
    background-color: var(--white);
    box-shadow: var(--shadow);
}

.book-title {
    font-size: var(--medium-font);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 60px;
}

.btn-container button {
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


/* ---------------------MODAL-------------------- */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  background-color: var(--light-grey);
  border-radius: 10px;
  padding: 20px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}


/* ---------------------FORM-------------------- */

h3 {
  font-size: var(--small-font);
  font-weight: bold;
}

#book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#book-form input {
  font-size: var(--small-font);
  color: var(--black);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  border: 1px solid var(--dark-grey);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

#book-form input[type='checkbox'] {
   width: 20px;
   margin-bottom: 0;
}

#book-form button {
  width: 50%;
  background-color: var(--green);
  color: var(--black);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}













